* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: hsl(0, 0%, 0%);
  --text-color: hsl(0, 0%, 100%);
  --button: hsl(258, 73%, 62%);
  --border: hsl(240, 6%, 17%);
  --border-menu-mobile: hsl(240, 7%, 68%);
  --text-color-menu-mobile: hsl(240, 9%, 89%);
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  box-sizing: border-box;
  background-color: var(--background);
}
/*====================================LAPTOP====================================*/

.laptop {
  margin: 5rem 10rem 0;
  display: grid;
  grid-template-rows: 5rem 4rem 20rem calc(56rem - 5.4rem);
}

.laptop .navigation {
  grid-row: 1/2;
}

.laptop .navigation nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.laptop .navigation nav ul {
  display: flex;
  gap: 3.2rem;
}

.laptop .navigation nav ul li a {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.02em;

  color: var(--text-color);

  white-space: nowrap;
}

.laptop .navigation nav button {
  border: 1px solid #8257e5;
  border-radius: 6px;
  background: none;
  padding: 1.1rem 3.8rem;
  
  cursor: pointer;
}

.laptop .navigation nav button a {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  font-size: 1.1rem;
  line-height: 1.5rem;
  /* identical to box height */

  letter-spacing: 0.02em;

  color: var(--text-color);
  white-space: nowrap;
}

.laptop .about {
  grid-row: 3/4;
}

.laptop .about header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.laptop .about header h1 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 10.9rem;
  letter-spacing: -0.03em;

  color: var(--text-color);

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}

.laptop .about header h2 {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  font-size: 8rem;
  line-height: 10.9rem;
  letter-spacing: -0.03em;

  text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
    -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  white-space: nowrap;
}

.laptop footer {
  grid-row: 4/5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.laptop footer img {
  max-width: 80rem;
}

.laptop::after {
  z-index: -1;
  content: '';
  display: inline-block;
  width: 25rem;
  height: 25rem;
  background: #996dff;
  filter: blur(400px);
  position: relative;
  top: 45rem;
  left: 0;
}

.mobile,
.menuExpanded {
  display: none;
}

@media (max-width: 768px) {
  /*====================================MOBILE====================================*/
  .laptop {
    display: none;
  }
  .mobile {
    grid-row: 1/2;
    margin-top: 3.7rem;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 5.85rem 8.85rem 12.8rem 8.8rem 3.5rem 9.8rem 12.9rem 2.5rem 33.3rem;
    max-height: 92.6rem;
  }

  .mobile nav {
    grid-row: 1/2;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-inline: 2.8rem;
    border-bottom: 1px solid var(--border);
  }

  .mobile nav a {
    cursor: pointer;
    padding: 1rem 3rem 4rem 3rem;
  }

  .mobile nav img:nth-child(2) {
    cursor: pointer;
  }

  .mobile header {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  .mobile header h1 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 4.1rem;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--text-color);

    padding: 3rem;
  }

  .mobile .button {
    grid-row: 5/6;

    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .mobile .button button {
    background: none;
    border: 1px solid #8257e5;
    border-radius: 6px;

    padding: 1rem 3rem;
  }

  .mobile .button button a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 1.1rem;
    line-height: 1.5rem;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;

    color: var(--text-color);

    display: flex;

    gap: 1rem;
  }

  .mobile .branding {
    grid-row: 7/8;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile .branding h2 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 6.8rem;
    letter-spacing: -0.03em;

    color: var(--text-color);

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .mobile .branding h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 6.8rem;
    /* identical to box height */

    letter-spacing: -0.03em;
    text-shadow: -1px -1px 0 var(--button), 1px -1px 0 var(--button),
      -1px 1px 0 var(--button), 1px 1px 0 var(--button);
  }

  .mobile footer {
    grid-row: 9/10;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mobile::after {
    z-index: -1;
    content: '';
    display: inline-block;
    width: 35rem;
    height: 25rem;
    background: #996dff;
    filter: blur(400px);
    position: relative;
    top: 64.6rem;
    left: 20rem;
  }
  /*====================================MENU EXPANDED====================================*/

  .menuExpanded {
    display: flex;
    flex-direction: column;
    grid-row: 1/2;
  }

  .menuExpanded {
    display: none;
  }

  .menuExpanded div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 3rem 2rem 2.6rem;
  }

  .menuExpanded div a img {
    padding: 1.53rem;
    cursor: pointer;
  }

  .menuExpanded nav ul li {
    padding: 1.8rem 0 1.4rem 3rem;
    border: 1px solid #29292e;
  }

  .menuExpanded nav ul li a {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;

    color: var(--border-menu-mobile);
  }
  .menuExpanded nav ul li .hovered {
    box-sizing: border-box;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.5rem;

    color: var(--text-color-menu-mobile);
  }
  .menuExpanded nav ul li:nth-child(1) {
    border-left: 5px solid var(--button);
  }
}

/*======================================JAVA SCRIPT===============================*/

.mobileClosed {
  display: none;
}

.expandedOpenned {
  display: inherit;
}
